
    {% extends 'navbar.html' %}
    {% block nav %}

      <h1>Register Here!!!!</h1>
      {% if messages %}
      {% for i in messages %}
          {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <DIV class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{i}}
          </DIV>
          {% endif %}
          {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <DIV class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{i}}
          </DIV>
          {%endif%}
{%endfor%}
{%endif%}
<div id="formd" class="container jumbotron">
      <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-info">Submit</button>
      </form>
    
    {% endblock nav %}
      